<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>


<body>

  <header>

  </header>


  <div class="container-sm mt-5">

    <h1>ANIME API REST with NODE</h1>


    <div class="container py-5 m-5">
      <p>
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample1">Get Anime List</a>
      <p> <span class="badge bg-success">GET</span> https://api-anime-list.onrender.com</p>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body text-bg-success">
              [
              {
              "_id": "648c9802a28631a38544d13f",
              "name": "Fullmetal Alchemist: Brotherhood",
              "sipnosis": "After a horrific alchemy experiment goes wrong in the Elric household, brothers Edward and
              Alphonse are left in a catastrophic new reality. Ignoring the alchemical principle banning human
              transmutation, the boys attempted to bring their recently deceased mother back to life. Instead, they
              suffered brutal personal loss: Alphonse's body disintegrated while Edward lost a leg and then sacrificed
              an arm to keep Alphonse's soul in the physical realm by binding it to a hulking suit of armor.",
              "year": "2009",
              "episodes": 64,
              "category": "Shounen"
              }
              ]
            </div>
          </div>
        </div>
      </div>

      <p>
        <a class="btn btn-dark mt-5" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample2">Add new anime </a>
      <p> <span class="badge bg-warning">POST</span> https://api-anime-list.onrender.com</p>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body text-bg-warning">

              Model.Animes
              {

              "name": String,
              require,
              "sipnosis": String,
              require,
              "year": String,
              require,
              "episodes": Number: require ,
              "category": String,
              require
              }

            </div>
          </div>
        </div>
      </div>





      <p>
        <a class="btn btn-dark mt-5" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample3">Update anime </a>
      <p> <span class="badge bg-info">PATCH {id}</span> https://api-anime-list.onrender.com</p>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body text-bg-info">


              {"id":integer}


            </div>
          </div>
        </div>
      </div>


      <p>
        <a class="btn btn-dark mt-5" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample4">Delete anime </a>
      <p> <span class="badge bg-danger">DELETE {id}</span>https://api-anime-list.onrender.com</p>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card card-body text-bg-danger">


              {"id":integer}


            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
  <main>


  </main>




  <footer>

  </footer>


  <!-- JavaScript Section -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</body>







</html>